/**
 * skeleton-extras.css - A set of UI components built on Skeleton
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

/**
 * Colour
 *
 * */
.default-color,
.badge,
.alert,
.switch input[type="checkbox"] ~ label:before {
  background-color: #33C3F0;
  color: white;
}

/**
 * Disabled elements
 *
 * */
.disabled, .disabled:hover, .disabled:active, .disabled:visited, .disabled:link, .disabled:focus,
[disabled], [disabled]:hover, [disabled]:active, [disabled]:visited, [disabled]:link, [disabled]:focus,
.checkbox input[type="checkbox"][disabled] ~ label:before,
.checkbox input[type="checkbox"].disabled ~ label:before,
.radio input[type="radio"][disabled] ~ label:before,
.radio input[type="radio"].disabled ~ label:before,
:disabled {
  color: #D1D1D1;
  border-color: #D1D1D1;
  cursor: not-allowed;
}

/**
 * Checkbox and radio button
 *
 * */
.checkbox label,
.radio label,
.switch label {
  display: inline-block;
  position: relative;
  padding-left: 22px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"],
.switch input[type="checkbox"] {
  display: none;
}

.checkbox label:before,
.radio label:before {
  display: inline-block;
  font-family: 'FontAwesome';
  text-align: center;
  line-height: 14px;

  width: 14px;
  height: 14px;

  position: absolute;
  left: 0;
  bottom: 5px;

  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #fff;
  color: white;
}

.checkbox label:before {
  content: "\f00c";
}

/* checked checkbox */
.checkbox input[type="checkbox"]:checked ~ label:before {
  color: #33C3F0;
}

/* disabled checkbox */
.checkbox input[type="checkbox"][disabled] ~ label:before,
.checkbox input[type="checkbox"].disabled ~ label:before {
  background-color: #F7F7F7;
}


.radio label:before {
  content: "";
  border-radius: 50%;

  -webkit-box-shadow: inset 0 0 0 3px white;
  -moz-box-shadow: inset 0 0 0 3px white;
  box-shadow: inset 0 0 0 3px white;
}

/* checked radio button */
.radio input[type="radio"]:checked ~ label:before {
  background-color: #33C3F0;
}

.radio input[type="radio"][disabled]:checked ~ label:before,
.radio input[type="radio"].disabled:checked ~ label:before {
  background-color: #D1D1D1;
}

/**
 * Switch
 *
 * */
.switch label {
  padding-left: 70px;
}

.switch .switch-button,
.switch label:before,
.switch label:after {
  position: absolute;
  display: inline-block;

  height: 18px;
  width: 30px;
  left: 0;

  border-radius: 4px;
  border: 1px solid #BBB;
  background-color: white;
}

.switch label:before,
.switch label:after {
  z-index: -1;

  left: auto;

  font-size: 11px;
  font-weight: 800;
  text-align: center;
}

.switch label:before {
  content: "ON";
  left: 0;
  border-radius: 4px 0 0 4px;

  background-color: #33C3F0;
  color: white;
}

.switch label:after {
  content: "OFF";
  left: 30px;
  border-radius: 0 4px 4px 0;

  background-color: #D3D3D3;
}

/* checked switch */
.switch input[type="checkbox"]:checked ~ .switch-button {
  left: 30px;
}

/* disabled switch */
.switch input[type="checkbox"][disabled] ~ label:before,
.switch input[type="checkbox"].disabled ~ label:before,
.switch input[type="checkbox"][disabled] ~ label:after,
.switch input[type="checkbox"].disabled ~ label:after {
  background-color: #D3D3D3;
  color: #AAA;
}
.switch input[type="checkbox"][disabled] ~ label,
.switch input[type="checkbox"].disabled ~ label,
.switch input[type="checkbox"][disabled] ~ label,
.switch input[type="checkbox"].disabled ~ label {
  cursor: not-allowed;
}

/**
 * Range
 *
 * */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* You cannot group -webkit and -moz styles, an invalid selector invalidates
 * the entire block of properties */
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 16px;
  width: 16px;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;

  height: 16px;
  width: 16px;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
  margin-top: -6px;
}

input[type="range"]:active::-webkit-slider-thumb {
  border: 1px solid #33C3F0;
}

input[type="range"]:active::-moz-range-thumb {
  border: 1px solid #33C3F0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"].vertical {
  transform: rotate(270deg);
}

/**
 * Badge
 *
 * */
.badge {
  padding: .2rem .4rem;
  margin: .5rem;
  border-radius: 4px;

  font-size: 10px;
  font-weight: 800;
}

/**
 * Alert
 *
 * */
.alert {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.alert [data-toggle="dismiss"] {
  color: white;
}

/**
 * Panel
 *
 * */
.panel {
  padding: 2rem 2rem;
  margin: 0 .2rem;
  font-size: 90%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background: white;
}
