/**
 * skeleton-extras.css - A set of UI components built on Skeleton
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

/**
 * Colour
 *
 * */
.default-color,
.badge,
.alert {
  background-color: #33C3F0;
  color: white;
}

/**
 * Disabled elements
 *
 * */
.disabled, .disabled:hover, .disabled:active, .disabled:visited, .disabled:link, .disabled:focus,
[disabled], [disabled]:hover, [disabled]:active, [disabled]:visited, [disabled]:link, [disabled]:focus,
.checkbox input[type="checkbox"][disabled] + label:before,
.checkbox input[type="checkbox"].disabled + label:before,
.radio input[type="radio"][disabled] + label:before,
.radio input[type="radio"].disabled + label:before,
:disabled {
  color: #D1D1D1;
  border-color: #D1D1D1;
  cursor: not-allowed;
}

/**
 * Checkbox and radio button
 *
 * */
.checkbox label,
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 22px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  display: none;
}

.checkbox label:before,
.radio label:before {
  content: "";
  display: inline-block;

  width: 14px;
  height: 14px;

  position: absolute;
  left: 0;
  bottom: 5px;

  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #fff;
  color: #33C3F0;
}

/* checked checkbox */
.checkbox input[type="checkbox"]:checked + label:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  text-align: center;
  line-height: 14px;
}

/* disabled checkbox */
.checkbox input[type="checkbox"][disabled] + label:before,
.checkbox input[type="checkbox"].disabled + label:before {
  background-color: #F7F7F7;
}


.radio label:before {
  border-radius: 50%;

  -webkit-box-shadow: inset 0 0 0 3px white;
  -moz-box-shadow: inset 0 0 0 3px white;
  box-shadow: inset 0 0 0 3px white;
}

/* checked radio button */
.radio input[type="radio"]:checked + label:before {
  background-color: #33C3F0;
}

.radio input[type="radio"][disabled]:checked + label:before,
.radio input[type="radio"].disabled:checked + label:before {
  background-color: #D1D1D1;
}

/**
 * Badge
 *
 * */
.badge {
  padding: .2rem .4rem;
  margin: .5rem;
  border-radius: 4px;

  font-size: 10px;
  font-weight: 800;
}

/**
 * Alert
 *
 * */
.alert {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
